wp
vendor

*.log
._*
composer.lock
.buildpath
.project
.settings
.DS_Store
Thumbs.db

wp-content/languages
wp-content/uploads
wp-content/uploads

wp-content/plugins/*
wp-content/themes/*

!wp-content/plugins/texte-tekst-*/
!wp-content/themes/texte-tekst-*/
