.about {
	position: relative;
	background-color: $orangeblack;
	color: $white;

	.inner-grid {
		padding: rem(70) 0;
		@include flex;
		align-items: flex-start;
	}

	.bg-lines .column {
		border-color: lighten($orangeblack, 5%);
	}

	.reviews {
		width: 66.6666%;
		padding-right: rem(80);
		z-index: 2;
	}

	h2 {
		@include block-title();
		color: $white;
		font-size: rem(25);
		margin-bottom: rem(30);
	}

	blockquote {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		* {
			color: $lightgray;
			font-size: 1.2rem;
			line-height: 1.75rem;
			font-family: 'Lora';
			font-weight: 300;
			font-style: italic;
		}
	}

	.author-bio {
		width: 33.3333%;
		z-index: 2;

		p {
			font-size: 0.8rem;
			line-height: 1.25rem;
			color: $lightgray;
		}

		.button {
			margin-top: 1rem;
			background-color: $black;
			font-size: 0.85rem;
			padding: rem(10) rem(20);
		}
	}

	.author-link {
		@include main-color;
		font-size: 1.2rem;
		font-family: 'Lora';
		font-style: italic;
		margin-bottom: 1rem;
		display: block;
	}
}
