.about {
	position: relative;
	background-color: $orangeblack;
	color: $white;

	.inner-grid {
		padding: rem(70) 0;
		@include flex;
		align-items: flex-start;
		justify-content: flex-end;

		@include media($tablet) {
			padding: rem(50) rem(20);
		}
	}

	.bg-lines .column {
		border-color: lighten($orangeblack, 5%);
	}

	.reviews {
		width: 66.6666%;
		padding-right: rem(80);
		z-index: 2;
		font-size: 0.8rem;
	    line-height: 1.25rem;

		@include media($mobile) {
			width: 100%;
			padding: 0;
			padding-bottom: rem(30);
		}
	}

	.infos {
		width: 66.6666%;
		margin-top: rem(30);
		font-size: 0.8rem;
	    line-height: 1.25rem;
	    color: $lightgray;

		a {
			@include main-color;
		}
	}

	h2 {
		@include block-title();
		color: $white;
		font-size: rem(25);
		margin-bottom: rem(30);

		@include media($mobile) {
			font-size: rem(20);
			margin-bottom: rem(15);
		}
	}

	blockquote {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			@include main-color;
		}

		* {
			color: $lightgray;
			font-size: 1.2rem;
			line-height: 1.75rem;
			font-family: 'Lora';
			font-weight: 300;
			font-style: italic;
		}

		@include media($mobile) {
			* {
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}

	.writers {
		width: 33.333%;
		z-index: 2;
	}

	.writer-bio {
		width: 100%;
		margin-bottom: rem(30);

		&:last-child {
			margin-bottom: 0;
		}

		p {
			font-size: 0.8rem;
			line-height: 1.25rem;
			color: $lightgray;
		}

		.button {
			margin-top: 1rem;
			background-color: $black;
			font-size: 0.85rem;
			padding: rem(10) rem(20);
		}

		@include media($mobile) {
			width: 100%;

			p {
				font-size: 0.9rem;
				line-height: 1.5rem;
			}
		}
	}

	.writer-link {
		@include main-color;
		font-size: 1.2rem;
		font-family: 'Lora';
		font-style: italic;
		margin-bottom: 1rem;
		display: block;
	}
}
