.book-loop {
	position: relative;

	.cover {
		width: 65%;
		margin: 0 auto;
		margin-bottom: rem(65);
	}

	a {
		color: $navy;
	}

	.title {
		text-transform: uppercase;
		font-size: 0.75rem;
		text-align: center;
		font-weight: 400;

		strong {
			font-weight: 800;
			margin-right: rem(12);
		}

		em {
			font-style: italic;
			font-weight: 700;
		}
	}

	.columns .book-list & {
		@include flex;
		align-items: flex-start;

		.cover {
			width: rem(100);
		}

		.content {
			width: calc(100% - #{rem(100)});
			text-align: left;
			padding-left: rem(40);
			padding-right: rem(100);

			.title {
				text-align: left;
				margin-bottom: rem(8);
				font-family: 'Lora';
				font-weight: 700;
				font-style: italic;
				font-size: 1.75rem;
				@include main-color;
				text-transform: none;
			}

			.writer {
				margin-bottom: rem(15);
				@include main-color;
				font-weight: 700;
				font-size: 0.9rem;
			}

			.excerpt {
				font-size: 0.9rem;
				font-weight: 400;
				line-height: 1.5rem;
			}

			@include media($mobile) {
				padding-right: 0;
				margin-bottom: rem(30);

				.title {
					font-size: 1.25rem;
				}
			}
		}
	}
}
