.header {
	position: relative;

	#main-nav {
		@include flex;
		padding: rem(30) 0;

		@include media($mobile) {
			padding: rem(10) 0;
		}
	}

	#logo {
		height: rem(89);
		width: rem(175);
		background-size: cover;

		.lang-da & {
			background-image: url('../img/logo-navy-orange.png');
		}
		.lang-fr & {
			background-image: url('../img/logo-navy-sky.png');
		}
		.lang-de & {
			background-image: url('../img/logo-navy-mint.png');
		}
		.menu-open & {
			background-image: url('../img/logo-navy-white.png');
		}

		@include media($mobile) {
			height: rem(56);
			width: rem(110);
		}
	}

	#languages {
		width: calc(100% - 2 * #{rem(175)} );
		text-align: center;

		.lang-item {
			display: inline-block;
			padding: 0 rem(13);

			a {
				color: $mediumgray;
				font-family: 'Lora';
				text-transform: lowercase;
				font-size: 1.1rem;
			}

			&.current-lang a {
				@include main-color;
			}
		}

		@include media($mobile) {
			display: none;
		}
	}

	#menu {
		width: rem(175);
		text-align: right;

		.burger {
			@include icons( $symbol: '\e871', $place: 'after', $margin: '0' );
			font-weight: 800;
			text-transform: uppercase;
			font-size: 0.9rem;
			padding-right: 2.5rem;
			position: relative;

			&::after {
				font-size: 1.75rem;
				position: absolute;
				top: - rem(7);
				right: 0;
			}

			&:hover {
				cursor: pointer;
			}
		}

		@include media($mobile) {
			width: auto;
			position: absolute;
			right: rem(20);
		}
	}
}
