.article {
	word-wrap: break-word;

	.content {
		h1, h2, h3, h4, h5, h6 {
			margin: 0.75rem 0;
			font-weight: bold;
		}

		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.75rem;
		}

		h4 {
			font-size: 1.5rem;
		}

		h5 {
			font-size: 1.25rem;
		}

		h6 {
			font-size: 1.15rem;
		}

		ul > li {
			list-style-type: disc;
			list-style: disc;
		}

		ol > li {
			list-style-type: decimal;
			list-style: decimal;
		}

		li {
			margin-left: 1.5rem;
		}

		img {
			display: block;
			margin: 1rem 0;
			max-width: 100%;
			height: auto;
		}

		blockquote {
			margin: 0.75rem 0;
			padding: rem(30);
			background-color: $lightgray;
		}

		strong {
			font-weight: 700;
		}

		em {
			font-style: italic;
		}

		.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}

		.alignleft {
			float: left;
			margin-right: 1rem;
		}

		.alignright {
			float: right;
			margin-left: 1rem;
		}
	}

	.wp-caption,
	figure {
		margin: 1rem 0;
		position: relative;
		max-width: 100%;

		img {
			margin: 0;

			&.aligncenter,
			&.alignnone,
			&.alignleft,
			&.alignright {
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.wp-caption-text {
		font-size: 80%;
		font-style: italic;
		text-align: left;
		padding: 0.5rem 1rem 0;
	}

	.gallery {
		@include flex;
		align-items: flex-start;

		.gallery-item {
			margin-right: 1rem;
		}
	}
}
