.intro {
	margin-bottom: rem(70);

	> .inner-grid {
		@include flex;
	}

	@include media($mobile) {
		margin-bottom: rem(50);
	}

	.article,
	.book-loop {
		position: relative;

		> .inner-grid {
			max-width: 100%;
		}
	}

	.article {
		width: 55%;

		@include media($mobile) {
			width: 100%;
			margin-bottom: rem(25);

			.inner-grid {
				padding: 0;
			}

			.article-header {
				margin: rem(20) 0 rem(10);
			}
		}

		h1 {
			color: $black;
			font-weight: 800;
			font-size: rem(70);
			letter-spacing: -0.03rem;
			margin-bottom: rem(25);

			span {
				font-family: Lora;
				font-weight: 700;
				font-style: italic;
				@include main-color;
			}

			@include media($mobile) {
				font-size: rem(30);
				margin-bottom: rem(15);
			}
		}

		.article-content {
			font-size: 1rem;
			color: $darkgray;
			line-height: 1.8rem;
			font-weight: 300;
			margin-bottom: rem(35);

			@include media($mobile) {
				margin-bottom: rem(15);

				.content {
					width: 100%;
					margin-bottom: 0;
				}
			}
		}
	}

	.book-loop {
		width: 45%;

		.excerpt,
		.writer {
			display: none;
		}

		@include media($mobile) {
			width: 100%;

			.cover {
				width: 40%;
				margin-bottom: rem(35);
			}

			.content {
				width: 60%;
				margin: 0 auto;
			}

			.title strong {
				display: block;
				margin: 0 0 rem(4);
			}
		}
	}
}
