.items-list {
	h2 {
		@include block-title;
	}

	.item {
		margin-bottom: rem(35);
		padding-left: rem(80);
		position: relative;

		a {
			@include main-color;
			font-style: italic;
			font-family: 'Lora';
			font-size: 1.75rem;
			font-weight: 700;
		}

		&::before {
			content: '';
			position: absolute;
			height: rem(14);
			width: rem(14);
			@include main-bg-color;
			top: rem(8);
			left: rem(20);
			border-radius: 50%;
			box-shadow: -1.1rem 0 $navy, 1.1rem 0 $black;
		}

		.sidebar & {
			padding-left: rem(50);
			margin-bottom: rem(15);

			a {
				font-size: 1.1rem;
			}

			&::before {
				height: rem(10);
				width: rem(10);
				box-shadow: -0.8rem 0 $navy, 0.8rem 0 $black;
				top: rem(4);
				left: rem(15);
			}
		}
	}
}
