main.type-book {
	position: relative;

	.bg-lines {
		background-color: $lightgray;

		.column {
			border-color: $white;
		}
	}

	.article {
		position: relative;
		z-index: 2;
		padding: rem(50) 0;

		.inner-grid {
			@include flex;
			align-items: flex-start;
		}

		.meta {
			width: 33.3333%;

			a {
				@include main-color;
			}

			@include media($mobile) {
				width: 100%;
				order: 2;

				.cover {
					width: 40%;
					margin: 0 auto;
					margin-bottom: rem(35);
				}

				.infos {
					width: 60%;
					margin: 0 auto;
				}
			}
		}

		.content-wrap {
			width: 66.6666%;
			padding-left: rem(80);

			.content {
				padding-right: rem(60);
			}

			@include media($mobile) {
				width: 100%;
				padding-left: 0;
				order: 1;

				.content {
					padding-right: 0;
				}
			}
		}

		.infos {
			margin-top: 3.5rem;
			padding-left: 0.8rem;
			font-style: italic;
			font-size: 0.8rem;
			line-height: 1.1rem;
			color: $navy;

			strong {
				font-weight: 800;
			}

			li {
				margin-bottom: 0.2rem;
			}

			@include media($mobile) {
				li {
					text-align: center;
				}
			}
		}
	}
}
