.single-book {
	.main {
		position: relative;

		.bg-lines {
			background-color: $lightgray;

			.column {
				border-color: $white;
			}
		}

		.article {
			position: relative;
			z-index: 2;
			padding: rem(50) 0;

			.inner-grid {
				@include flex;
				align-items: flex-start;
			}

			.meta {
				width: 33.3333%;
			}

			.content-wrap {
				width: 66.6666%;
				padding-left: rem(80);

				.content {
					padding-right: rem(60);
				}
			}

			.infos {
				margin-top: 3.5rem;
				padding-left: 0.8rem;
				font-style: italic;
				font-size: 0.8rem;
				color: $navy;

				strong {
					font-weight: 800;
				}

				li {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}
