.home {
	.columns {
		margin: rem(70) 0;

		.inner-grid {
			@include flex;
			align-items: flex-start;
		}

		.column {
			&:first-child {
				width: 66.6666%;
			}

			&:last-child {
				width: 33.3333%;
			}
		}
	}
}
