body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative;

    @include media($desktop) {
        padding: 0;
    }
}

html {
    box-sizing: border-box;
}

.grid {
    width: $grid-width;
    margin: 0 auto;

    @include media($desktop) {
        width: 100%;
    }
}

.screen-reader-text{
	@include screen-reader-text();

	h1{
		@include screen-reader-text();
	}
}

.hide-mobile {
    @include media($mobile) {
        display: none;
    }
}

.show-mobile {
    @include media($mobile) {
        display: block;
    }
}
