body {
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    position: relative;

    @include media($desktop) {
        padding: 0;
    }
}

* {
    box-sizing: border-box;
}

.inner-grid {
    width: $grid-width;
    margin: 0 auto;

    @include media($tablet) {
        width: 100%;
        padding: 0 rem(20);
    }
}

.screen-reader-text{
	@include screen-reader-text();

	h1{
		@include screen-reader-text();
	}
}

.hide-mobile {
    @include media($mobile) {
        display: none;
    }
}

.show-mobile {
    @include media($mobile) {
        display: block;
    }
}

.header,
#content,
.footer {
    position: relative;
    z-index: 2;
}
