main.type-post,
main.type-page {
	position: relative;

	.article {
		position: relative;
		z-index: 2;
		margin-bottom: rem(70);

		@include media($mobile) {
			margin-bottom: 0;
		}

		.inner-grid {
			@include flex;
			align-items: flex-start;
		}

		.article-header,
		.article-content {
			width: 100%;
		}

		.content {
			width: 80%;
			padding-right: rem(60);

			@include media($mobile) {
				width: 100%;
				padding-right: 0;
			}
		}

		.sidebar {
			width: 20%;

			@include media($mobile) {
				width: 100%;
			}
		}

		&.has-post-thumbnail {
			.wp-post-image-wrap {
				width: 20%;
			}

			.content {
				width: 60%;
				padding: 0 rem(60);
			}
		}
	}
}
