main.type-writer {
	position: relative;

	.bg-lines {
		background-color: $lightgray;

		.column {
			border-color: $white;
		}
	}

	.article {
		position: relative;
		z-index: 2;
		padding: rem(50) 0;

		.inner-grid {
			@include flex;
			align-items: flex-start;
		}

		.meta {
			width: 20%;
		}

		.content-wrap {
			width: 80%;
			padding-left: rem(80);

			.content {
				padding-right: rem(60);
			}

			@include media($mobile) {
				padding-left: rem(40);

				.content {
					padding-right: 0;
				}
			}
		}

		.bibliography {
			color: $darkgray;

			li {
				font-size: 0.8rem;
				line-height: 1.2rem;
				font-weight: 400;
				margin-bottom: 0.4rem;
			}

			a {
				@include main-color;
				font-weight: 400;
			}

			strong {
				&, * {
					font-weight: bold;
				}
			}

			em {
				&, * {
					font-style: italic;
				}
			}
		}
	}
}
